$primary: #911e3d;
$secondary: #8a8a8a;
$text-muted: rgba(31, 31, 31, 0.8);
$dark: #3a3a3a;
$white-light: #ffffff4d;
$white: #ffffff;

@use "sass:color";

body {
  background-color: transparent;
  font-family: var(--font-poppins), sans-serif; // use CSS variable
  font-weight: 400;
  font-style: normal;
  color: #8a8a8a;
}

h1 {
  font-family: var(--font-behind-nineties), sans-serif;
  font-weight: 400;
  font-size: 100px;
  line-height: 100px;
}

h5 {
  color: #3a3a3a;
  font-feature-settings: "liga" off, "clig" off;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
}

.fs-16 {
  font-size: 16px;
}

.navbar-section {
  z-index: 100;
  width: calc(100% - 100px);
  margin: auto;
  transition: all 0.2s ease-in-out;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
}

.navbar-section .nav-container {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: #f4ede480;
  border-radius: 10px;
  max-width: 1140px;
  padding: 8px 20px;
  box-shadow: 0 0 24px #00000026;
}

.nav_item {
  font-size: 18px;
  color: #0000004d;
  font-weight: 300;

  &.active,
  &:hover {
    color: $primary;
    font-weight: 400;
  }
}

.login_btn {
  background-color: $primary;

  &:hover {
    background-color: color.adjust($primary, $lightness: -10%);
  }
}

.btn-circle {
  padding: 10px;
  border-radius: 50%;
  background-color: white;

  &:hover {
    background-color: #ffffff;
  }
}

.hero_section {
  .background-wrapper {
    margin: 0 auto;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 150px;
    background: radial-gradient(50% 85% at 50% 50%, #f4ede4 0, #e9d3b6 100%);
    border-radius: 20px;
  }
}

.text_primary {
  color: $primary;
}

.text_muyted {
  color: $text-muted;
}

.text-dark {
  color: $dark;
}

.book-appointment-container {
  position: relative;
  padding: 30px 20px;
  border-radius: 20px;
  backdrop-filter: blur(6.5px);
  background-color: #ffffff4d;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    border: 1px solid transparent;
    background: linear-gradient(
        98.75deg,
        rgba(255, 255, 255, 0.5),
        rgba(222, 174, 109, 0.5) 99.67%
      )
      border-box;

    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;

    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;

    pointer-events: none;
  }
}

.form-control {
  color: $dark;
  background-color: $white;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 10px;
  padding: 13px 15px;
  overflow: hidden;
}

input {
  &:focus {
    outline: none;
  }
}

.css-b62m3t-container {
  position: relative;
  box-sizing: border-box;
}

.css-7pg0cj-a11yText {
  z-index: 9999;
  border: 0px;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  padding: 0px;
  white-space: nowrap;
}

.css-6gz748-control {
  -webkit-box-align: center;
  align-items: center;
  cursor: default;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  min-height: 38px;
  position: relative;
  transition: 100ms;
  background-color: rgb(255, 255, 255);
  border-color: rgb(239, 68, 68);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  outline: 0px !important;
}

.dropdown-select__control {
  text-align: start;
  text-overflow: ellipsis;
  padding: 11px 15px;
  border-radius: 10px !important;
  border: none !important;
  box-shadow: none !important;
  cursor: pointer !important;
}

.css-hlgwow {
  -webkit-box-align: center;
  align-items: center;
  display: grid;
  flex: 1 1 0%;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  padding: 2px 8px;
  box-sizing: border-box;
}

.dropdown-select__value-container {
  padding-left: 0 !important;
}

.css-1jqq78o-placeholder {
  grid-area: 1 / 1 / 2 / 3;
  color: rgb(128, 128, 128);
  margin-left: 2px;
  margin-right: 2px;
  box-sizing: border-box;
}

.dropdown-select__placeholder {
  margin: 0 !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.css-1wy0on6 {
  -webkit-box-align: center;
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-shrink: 0;
  box-sizing: border-box;
}

.css-1u9des2-indicatorSeparator {
  align-self: stretch;
  width: 1px;
  background-color: rgb(204, 204, 204);
  margin-bottom: 8px;
  margin-top: 8px;
  box-sizing: border-box;
}

.dropdown-select__indicator-separator {
  display: none;
}

.css-1xc3v61-indicatorContainer {
  display: flex;
  transition: color 150ms;
  color: rgb(204, 204, 204);
  padding: 8px;
  box-sizing: border-box;
}

.dropdown-select__indicator {
  padding: 0 !important;
}

.css-8mmkcg {
  display: inline-block;
  fill: currentcolor;
  line-height: 1;
  stroke: currentcolor;
  stroke-width: 0;
}

.dropdown-select__control {
  border: 1px solid #911e3d;
  border-radius: 8px;
  padding: 4px 6px;
}

.dropdown-select__placeholder {
  color: #8a8a8a;
}

.btn_primary {
  background-color: $primary;
  color: $white;
  cursor: pointer;
  border-radius: 10px;

  &:hover {
    background-color: color.adjust($primary, $lightness: -10%);
  }
}
